
local_test/ml_vol/
**/test_results/
**/artifacts
ml_vol/outputs/
**/ml_vol/**/*.txt
**/examples/**/*.txt

rt_algorithms/text_classification/ml_vol

artifacts/
hpt_results/

**/*_no_hpt.csv
**/*_with_hpt.csv
ml_vol/**/model_*_*.json

venv/


__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
